<div class="loader">
	<div class="sk-fading-circle">
		<div class="sk-circle1 sk-circle"></div>
		<div class="sk-circle2 sk-circle"></div>
		<div class="sk-circle3 sk-circle"></div>
		<div class="sk-circle4 sk-circle"></div>
		<div class="sk-circle5 sk-circle"></div>
		<div class="sk-circle6 sk-circle"></div>
		<div class="sk-circle7 sk-circle"></div>
		<div class="sk-circle8 sk-circle"></div>
		<div class="sk-circle9 sk-circle"></div>
		<div class="sk-circle10 sk-circle"></div>
		<div class="sk-circle11 sk-circle"></div>
		<div class="sk-circle12 sk-circle"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col col-sm-12 col-md-10">
			<input id="search-input" class="form-control form-control-lg"
				type="text"
				placeholder="Search purchases by date resourse name, customer or supplier...">
		</div>
		<div class="col col-sm-12 col-md-2">
			<button id="search-btn" type="button"
				class="btn btn-outline-primary btn-lg">
				<i class="fas fa-search"></i> Search
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<th scope="col">Purchase Date</th>
					<th scope="col">Purchase Price</th>
					<th scope="col">Resource</th>
					<th scope="col">Resource Price</th>
					<th scope="col">Credit Card</th>
					<th scope="col">Customer</th>
					<th scope="col">Customer Phone</th>
					<th scope="col">Supplier</th>
					<th scope="col">Supplier Phone</th>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(document)
			.ready(
					function() {
						$('#search-btn')
								.on(
										'click',
										function() {
											$('.loader').fadeIn();
											var searchTerm = $('#search-input')
													.val();
											var query = "";
											if (searchTerm) {
												query = "?searchterm="
														+ searchTerm;
											}
											$
													.ajax({
														url : "http://localhost:8080/appdb/purchase-search"
																+ query,
														type : "GET",
														success : function(
																result) {
															var size = result.length;
															var $tbody = $(
																	'.table')
																	.find(
																			'tbody');
															$tbody.html("");
															for (var i = 0; i < size; i++) {
																var html = "<tr class='resource-row' style='display:none;'><td>"
																		+ result[i].purdate
																		+ "</td><td>"
																		+ result[i].purprice
																		+ "</td><td>"
																		+ result[i].rname
																		+ "</td><td>"
																		+ result[i].rprice
																		+ "</td><td>"
																		+ result[i].credcardnumber
																		+ "</td><td>"
																		+ result[i].cname
																		+ "</td><td>"
																		+ result[i].cphone
																		+ "</td><td>"
																		+ result[i].sname
																		+ "</td><td>"
																		+ result[i].sphone
																		+ "</td></tr>";
																$tbody
																		.append(html);
																$(
																		'.resource-row')
																		.last()
																		.fadeIn();
															}
														},
														error : function(error) {
															alert("An error occured while getting purchases...");
														},
														complete : function() {
															$('.loader')
																	.fadeOut();
														}
													});
										});

						$('#search-input').bind("enterKey", function(e) {
							$('#search-btn').click();
						});
						$('#search-input').keyup(function(e) {
							if (e.keyCode == 13) {
								$(this).trigger("enterKey");
							}
						});
						$('#search-btn').click();
					});
</script>